{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="banner video-background-banner pv-40 dark-translucent-bg hovered">

        <div class="video-background-poster"
             style="background-image: url('{{ asset('assets/imgs/stadium.jpg') }}');"></div>
        <!-- breadcrumb end -->
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8 text-center pv-20">
                    <h2 class="title hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">
                        Politique de protection des données personnelles</h2>
                    <div class="separator hc-element-invisible mt-10" data-animation-effect="fadeIn"
                         data-effect-delay="100"></div>
                    <p class="text-center hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">
                    </p>
                </div>
            </div>
        </div>

    </div>
    <section class="main-container rgpd">

        <div class="container">
            <h2 class="mt-20">Informations sur l'engagement de Libero Conseil SAS dans le traitement des données à
                caractère
                personnel</h2>
            <p>La société Libero Conseil SAS adhère à une politique de protections des données à caractère personnel en
                conformité avec le « Règlement Général de Protection des Données » dit RGPD du 25 mai 2018.</p>

            <h2 class="mt-20">RESPONSABLE DU TRAITEMENT DES DONNÉES PERSONNELLES</h2>
            <p>LToutes les données personnelles traitées par Libero Conseil, dans le cadre de la présente Politique de
                confidentialité sont contrôlées par Libero Conseil, laquelle est considérée comme responsable du
                traitement de vos données personnelles.</p>
            <p>Libero Conseil SAS est immatriculée au Registre du Commerce et des Sociétés de PARIS sous le numéro 842
                337 263, dont le siège social est situé au 49, rue Fessart 75019 Paris.</p>

            <h2 class="mt-20">POURQUOI & COMMENT SONT COLLECTÉES LES DONNÉES PERSONNELLES DES CANDIDATS ?</h2>
            <p>LDans le cadre de nos activités, nous recueillons les données personnelles afin de favoriser le lien
                entre nos clients et les candidats. La collecte de ces données personnelles nous permet de conduire
                efficacement les processus de recrutement mais aussi de cibler au mieux les postes que les candidats
                recherchent et ainsi de leur proposer des emplois en adéquation avec leurs souhaits.</p>

            <p>Nous collectons donc les données personnelles :
            </p>
            <ul>
                <li>Lorsqu’un candidat postule à l’une de nos offres d’emploi ou lorsqu’il (elle) postule
                    spontanément,
                </li>
                <li>Lors d’identification sur les sites emplois (CVthèques), les réseaux sociaux (par exemple LinkedIn)
                    ou les annuaires professionnels,
                </li>
                <li>Lors des échanges téléphoniques, des échanges par mails, des entretiens face à face et des
                    entretiens en Visio-conférence,
                </li>
                <li>Lors de la réception de certains documents demandés aux candidats pendant nos processus de
                    recrutement (CV, Diplômes, Formulaire de candidature…).
                </li>
            </ul>


            <h2 class="mt-20">QUELLES DONNÉES PERSONNELLES DES CANDIDATS SONT COLLECTÉES </h2>
            <p class="text-underline font-weight-bold">Lors de la phase d’identification des candidats / Avant un
                échange avec un collaborateur de
                Libero Conseil :</p>

            <p>Nous collectons les informations suivantes sur les réseaux sociaux, les CVthèques ou via vos candidatures
                :</p>
            <ul>
                <li>Nom et prénom,</li>
                <li>Numéro de téléphone (fixe et/ou portable),</li>
                <li>Adresse email,</li>
                <li>Adresse postale,</li>
                <li>Intitulé du poste actuellement ou dernièrement occupé,</li>
                <li>Rémunération actuelle,</li>
            </ul>

            <p>Ces informations sont intégrées dans notre outil de suivi informatique / base de données
                propriétaire.</p>
            <p> Dans le cadre des missions de recherche que nous réalisons, nous mettons à disposition de nos clients un
                outil de suivi en ligne lui permettant d’accéder aux profils identifiés sur une mission donnée.
            </p>

            <p>Pour tous les candidats qui n’ont pas <span class="text-underline">explicitement</span> donné leur
                consentement pour candidater sur un poste,
                les informations visibles pour nos clients seront uniquement : </p>

            <ul>
                <li>Première lettre du prénom</li>
                <li>Intitulé de poste actuel ou précédent</li>
                <li>Société actuelle ou précédente</li>
            </ul>

            <p class="text-underline font-weight-bold">Lors de la phase de Sélection / Après un échange avec un
                collaborateur de Libero Conseil :</p>

            <p>Au-delà des informations collectées lors de la phase d’identification (Cf. paragraphe précédent), et
                suite aux entretiens de qualification réalisés par nos collaborateurs (entretien téléphonique poussé,
                Visio-conférence ou entretien physique), nous complétons un dossier de candidature permettant de
                présenter le candidat et de faciliter et de favoriser le recrutement.</p>

            <p class="text-underline">Le dossier de candidature transmis à un client sur un processus précis reprend les
                informations et
                données suivantes :</p>

            <ul>
                <li>Le CV du candidat conforme à l’original</li>
                <li>Un compte rendu d’entretien décrivant :</li>
                <ul>
                    <li>le résumé du parcours professionnel et académique,</li>
                    <li>le niveau de langue,</li>
                    <li>la situation actuelle du candidat quant à son ouverture au marché,</li>
                    <li>ses motivations à candidater sur le poste proposé,</li>
                    <li>ses interrogations concernant le poste proposé,</li>
                    <li>un avis du recruteur sur le savoir-faire du candidat, son savoir-être, sa correspondance par
                        rapport au poste proposé, ses points forts et axes d’amélioration.
                    </li>
                    <li>la rémunération actuelle (ou précédente) ainsi que les prétentions de rémunération,</li>
                    <li>le domicile actuel et la confirmation que le localisation du poste proposé correspond aux
                        attentes du candidats. De même, si une relocalisation doit être engagée, nous le précisons,
                    </li>
                    <li>le délais de préavis à anticiper,</li>
                    <li>les autres processus en cours en cours.</li>
                </ul>
            </ul>

            <p class="font-weight-bold">Au-delà de la société cliente qui recevrait le dossier de candidature du
                candidat en question, toutes les
                informations contenues dans le dossier sont conservées dans notre outil informatique / base de données
                logiciel propriétaire.</p>

            <h2>QUELLES SONT LES DONNÉES PERSONNELLES DES CLIENTS ET DES PROSPECTS QUE NOUS COLLECTONS ?</h2>
            <p>Afin d’assurer un suivi de proximité, nous collectons et conservons dans notre outil informatique / base
                de données propriétaire des informations d’entreprises clientes ou de prospects. Les données
                susceptibles d’être collectées : </p>

            <ul>
                <li>Raison sociale,</li>
                <li>Adresse(s) postale(s),</li>
                <li>Numéro(s) de téléphone,</li>
                <li>Données économiques : chiffre d’affaire, secteur d’activité, code APE, SIRET, etc…</li>
                <li>Des informations diverses sur l’entreprise notamment sur les projets de recrutements,
                    l’organisation, les effectifs, les outils utilisés, les projets en cours ou à venir, etc…
                </li>
                <li>Nom et prénom du client ou prospect, l’intitulé de son poste, son adresse email professionnelle, son
                    numéro de téléphone.
                </li>
                <li>Les éléments participatifs de la conduite d’un processus de recrutement (date d’entretiens et
                    interlocuteurs,
                </li>
                <li>La planification des différents évènements, via un agenda de suivi des actions de recrutement.</li>

            </ul>

            <h2>DURÉE DE CONSERVATION DES DONNÉES PERSONNELLES ET DROIT À L’OUBLI</h2>
            <p>Conformément à l’article 6,5° de la loi Informatique & Libertés et de l’article 5 de la RGPD du 25 mai
                2018, tout traitement de données personnelles est limité dans le temps. </p>
            <p>La durée de conservation des données est fixée à 2 ans si aucun contact n’est établi avec la personne
                concernée. Plus précisément, nos données sont conservées dans nos archives courantes pendant 2 ans si
                aucun contact n’est établi avec la personne concernée, et si cette personne n’a pas encore exercé son
                droit à l’effacement. Ces données pourront ensuite être conservées dans nos archives intermédiaires
                jusqu’à un délai de 10 ans, pour pouvoir justifier d’un certain nombre d’obligations légales et pour
                pouvoir justifier d’un éventuel contentieux entre nos différentes parties conformément à la Délibération
                n°2005-213 de la CNIL du 11 octobre 2005.</p>
            <p>S’agissant des données clients, nous les conservons 5 ans, à compter de la dernière action de recrutement
                réalisée notamment en raison de notre obligation de conservation des documents commerciaux (article L
                110-4du code de commerce).</p>

            <h2>COMMERCIALISATION DES DONNÉES ET COOKIES</h2>
            <p>Aussi, aucune des données collectées ou transmises à Libero Conseil n’est commercialisée.</p>
            <p>Par ailleurs, le site internet de Libero Conseil ne collecte pas les cookies.</p>

            <h2>COMMENT EST ASSUREE LA SECURISATION DES DONNEES PERSONNELLES EN NOTRE POSSESSION ?</h2>
            <p>Toutes les données personnelles collectées par Libero Conseil sont hébergées sur des serveurs sécurisés
                en Union Européenne.</p>

            <h2>DROITS D’INFORMATION, D’ACCÈS, DE PORTABILITÉ, DE RECTIFICATION, DE LIMITATION, DE CONSENTEMENT,
                D’ACTUALISATION ET DE SUPPRESSION DE VOS DONNÉES PERSONNELLES</h2>
            <p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978, vous
                disposez à tout moment d’un droit d’accès, de communication, de rectification, d’actualisation et de
                suppression des données personnelles vous concernant. </p>
            <p>Conformément à l’article 17 de la RGPD du 25 mai 2018, chaque personne concernée peut, sans justificatif,
                obtenir l’effacement des données à caractère personnel le concernant, dans un délai maximum de 48h.</p>
            <p>Pour exercer auprès de Libero Conseil votre droit d’opposition à l’utilisation de vos données à caractère
                personnel, ou pour exercer vos droits d’accès, de rectification et de suppression des données à
                caractère personnel vous concernant et votre droit de définir, modifier et révoquer à tout moment des
                directives relatives à la conservation, à l’effacement et à la communication de vos données, vous pouvez
                contacter Libero Conseil : </p>
            <ul>
                <li><span class="font-weight-bold">Par voie postale à l’adresse :</span> Libero Conseil – M. Laurent
                    Thiénot – 49, rue Fessart – 75019 Paris
                </li>
                <li><span class="font-weight-bold">En écrivant à l’adresse électronique :</span> <a
                            href="mailto:contact@libero-conseil.com">contact@libero-conseil.com</a></li>
            </ul>
            <p>Pour toutes demandes, il sera demandé de justifier de votre identité (nom, prénom, adresse, copie d’un
                justificatif d’identité).</p>
            <p>Toute demande non complète, ou ne garantissant pas la provenance de l’expéditeur/demandeur, ne sera pas
                traitée et devra faire l’objet d’une nouvelle demande conforme.</p>

            <h2>VOTRE ENGAGEMENT DE SINCERITÉ</h2>
            <p>En déposant votre candidature sur notre site Libero Conseil (http://www.libero-conseil.com) ou par tout
                autre moyen comme cela peut être le cas via les réseaux sociaux, vous vous engagez à fournir des
                informations sincères et réelles sur : </p>
            <ul>
                <li>votre parcours professionnel,</li>
                <li>les diplômes que vous avez obtenus,</li>
                <li>la durée des postes que vous avez occupés et la nature des contrats dont vous étiez titulaire
                    (contrat de travail à durée déterminée, indéterminée, contrat de stage, contrat de
                    professionnalisation, etc.).
                </li>
            </ul>
            <p>Nous vous précisons que nous sommes amenés à vérifier l’ensemble de ces informations lors de nos
                processus de recrutement. </p>
            <p>Vous êtes avisé que toute information non sincère ou fausse déclaration sur l’obtention de vos diplômes,
                votre parcours professionnel ou vos compétences spécifiques constitue une manœuvre visant à tromper
                notre cabinet et nos clients sur vos compétences, et à détourner nos processus de recrutement outre le
                fait que cela désavantage de façon déloyale d’autres candidats. Vous reconnaissez expressément que de
                tels agissements engagent la responsabilité de leurs auteurs, et acceptez en conséquence de nous
                garantir contre l’ensemble des conséquences pécuniaires – et des frais de conseil pour notre défense –
                découlant directement ou indirectement de toute réclamation ou action engagée à notre encontre à raison.
                En tout ou partie, d’un défaut de sincérité s’agissant d’informations que vous nous avez confiées.</p>
        </div>
    </section>
{% endblock %}